* {
    --switch-height: 24px;
    --switch-padding: 0px;
    --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
    --slider-height: calc(var(--switch-height) - var(--switch-padding));
    --slider-on: calc(var(--switch-height) - var(--switch-padding));

    background-color: var(--bg-color);
    color: var(--font-color);

    word-break: break-word;
}

:root {
    --gap-5px: 5px;
    --gap-10px: 10px;
    --gap-50px: 50px;

    --br-8px: 8px;
    --br-10px: 10px;
    --br-40px: 40px;
    --br-50per: 50%;

    --fs-08rem: 0.8rem;
    --fs-1rem: 1rem;
    --fs-14rem: 1.4rem;
    --fs-16rem: 1.6rem;
    --fs-30px: 30px;

    --height-74px: 74px;
    --height-12px: 12px;
    --height-40px: 40px;

    --alpha-02: rgb(0, 0, 0, 0.2);
    --alpha-middle: rgb(127, 127, 127, 0.5);
    --alpha-1: rgb(0, 0, 0, 1);
    --alpha: rgb(0, 0, 0, 1);
}


.light {
    --body-color: #fff;

    --bg-dropdown-color: var(--bg-color);

    --border-color: #dedede;
    --font-color: #111;
    --font-half-color: #888;
    --bg-color: #fff;
    --box-shadow: #444;
    --bg-secondary-color: #f8f8f8;
    --a-visited: var(--font-color);
    --a-color: blue;

    --table-header-color: #fff;
    --table-header-background-color: #1E88E5;
    --table-body-bottom-border-color: #E0E0E0;
    --table-body-border-color: #E0E0E0;
    --table-body-color: #1f1f1f;
    --table-body-hover-color: #E3F2FD;

    --incorrect-color: #D1A097;
}

.dark {
    --body-color: #212121;
    --bg-dropdown-color: #212121;

    --border-color: #272727;
    --font-color: #f3f3f3;
    --font-half-color: #afafaf;
    --bg-color: #212121;
    --box-shadow: #252525;
    --bg-secondary-color: #272727;
    --a-visited: var(--font-color);
    --a-color: rgb(177, 177, 252);

    --table-header-color: #fff;
    --table-header-background-color: #1E88E5;
    --table-body-bottom-border-color: #E0E0E0;
    --table-body-border-color: #E0E0E0;
    --table-body-color: #acacac;
    --table-body-hover-color: #30383d;

    --incorrect-color: #9F6160;
}
