*,
:before,
:after {
    box-sizing: border-box;
}

#lk_button {
    z-index: 99;
    text-align: center;
}

input {
    font-size: 1.0em;
    padding: 2px 2px;
    margin: 1px;
}

#main_page {
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    padding: 8px;
    margin: auto;
    max-width: 1200px;

    color: var(--font-color);

    h1 {
        text-align: center;
        margin: 8px;
    }

    pre {
        color: var(--font-color);
        font-size: 1.2em;
        font-family: inherit;
    }
}

#main_block {
    padding: 8px;
}

.box-shadow-silver {
    border: solid 1px #dbdbdb;
    box-shadow: 0 1px 0 1px silver;
}

.account_card {
    padding: 15px;
    margin: 2rem 2rem;
    border: 1px solid #ffffff22;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    overflow: hidden;
    transition: .5s all;

    display: flex;
    flex-direction: row;
    align-items: center;

    hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid #88888855;
        margin-top: 0;
    }

    .account_image {
        border-radius: .5rem;
        max-width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .description {
        margin: .5rem 0;
        color: #074173;
    }

    .account_info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: normal;

        .roles {
            align-items: center;
            color: #f3565b;
            font-weight: 700;
            padding-bottom: 2px;
            white-space: initial;
            display: inline;
            word-break: break-all;
        }

        .duration {
            display: flex;
            align-items: center;
            color: #a89ec9;
            margin-right: .2rem;
        }
    }
}

.basic_card {
    padding: 7px;
    border: 1px solid var(--bg-color);
    box-shadow: 0 7px 20px 5px var(--alpha-1);
    border-radius: .7rem;
    overflow: hidden;
    transition: .5s all;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);
    margin-bottom: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-header {
        height: 40px;
        padding: 5px;
        border-bottom: thin solid var(--border-color);
        box-shadow: 0 10px 12px 0 var(--bg-color);
        border-radius: .7rem .7rem 0 0;

        font-size: 1.1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title {
            color: var(--font-color);
            font-size: 1.5em;
            font-weight: bold;
            padding: 0 2px 4px 8px;
        }

        .close {
            color: var(--font-half-color);
            font-weight: bold;

            font-size: 3em;
            line-height: 20px;
            padding: 0 2px 4px 8px;
        }

        .close:hover,
        .close:focus {
            color: var(--font-color);
            text-decoration: none;
            cursor: pointer;
        }
    }

    .modal-content {
        background-color: var(--bg-color);
        margin: 15% auto;
        border: 1px solid var(--border-color);
        width: 80%;
        box-shadow: 0 7px 20px 5px var(--box-shadow);
        border-radius: .7rem;

        label {
            font-size: 1.6rem;
        }

        input[type='text'],
        input[type='password'],
        input[type='number'],
        input[type='email'] {
            width: 98%;
        }

        .modal-content-inner {
            padding: 6px;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }
    }
}

#qrs_part {
    padding: 4px;
    margin: 1rem auto;
    border: 1px solid #ffffff22;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    overflow: hidden;
}

.big_button {
    margin: 1px 4px;
    border: thin solid var(--alpha);
    background: var(--bg-color);
    border-radius: 12px;
    font-weight: bold;
    font-size: 2em;
    color: var(--font-color);
    cursor: pointer;
    display: inline;
    padding: 0 8px;
}

.big_button:hover,
.big_button:focus {
    background: var(--alpha-middle);
}

.custom_button {
    margin: 1px 0 4px 4px;
    height: 100%;
    border: 2px solid var(--font-color);
    background: var(--bg-color);
    border-radius: 12px;
    font-weight: bold;
    font-size: 2em;
    color: var(--font-color);

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: inherit;
        height: 100%;
        font-size: 1.4em;
        padding: 5px;
        text-decoration: none;
    }
}

.custom_button:hover {
    background-color: var(--alpha-02);
    cursor: pointer;
}

.qr_item_row {
    cursor: pointer;
}

h3 {
    font-size: 1.2em;
    margin: 4px;
}

select {
    font-size: 2em;
}

#form_select {
    width: 97%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
}

.code_info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
}

.code_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        margin-bottom: 14px;
        width: 100%;
    }
}

table {
    table-layout: fixed;
    padding: 2px !important;
    margin: 1px;
}

table,
td,
th {
    text-align: left;

    border: 1px black solid;
    padding: 1px;

    overflow: hidden;

    word-break: break-word;
    overflow-wrap: break-word;

    width: 100%;
    font-size: 1.4em;

    td>input,
    select,
    button {
        font-size: 0.8em !important;
        width: 99%;
        height: 98%;
    }
}

.formFileRow {
    cursor: pointer;
}

.toolbar {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 4px;

    > {
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 1000px) {

    table,
    td,
    th {
        margin: 2px;
        padding: 1px;
        font-size: 1.1em;
    }

    header {
        font-size: 2.0em;
    }

    h1 {
        font-size: 1.3em;
    }

    .big_button {
        width: 100%;
    }

}

.hoverable:hover {
    background: rgb(0 0 0 / 20%);
}

.scrollable-x {
    height: 120px;
    width: 80vw;
    margin: 40px;

    border: solid 1px #dbdbdb;
    border-radius: 10px;

    .upper_menu {
        height: 30px;
        border-bottom: solid 1px #dbdbdb;
    }
}

.upload-file-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;

    padding-top: 3px;
    padding-bottom: 3px;
}

.upload-file-button:hover {
    opacity: calc(0.6);
}

.upload-file-button:before {
    width: auto;
    height: auto;
    content: url('/logos/file-upload-duotone.svg');
}

.files_list {
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow-x: scroll;
}

.file-item {
    width: 120px;
    display: flex;
    flex-direction: column;
}

.file-metadata {
    font-size: 0.95em;
    font-style: italic;
}

.file-icon {
    width: 40px;
    height: 40px;
    content: url('/logos/icons8-file.svg');
}

#phone_iframe {
    width: 495px;
    height: 875px;
    border: 2px solid #888;
    border-radius: 1%;
}

.red_border {
    background-color: var(--incorrect-color) !important;

    >td {
        background-color: var(--incorrect-color) !important;
    }
}

/* Header */

.header {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.header__body {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;

    a {
        text-decoration: none;
        margin: 0 auto;
        font-size: 1.1em;
    }

    span {
        font-size: 20px;
        font-weight: 700;
        color: var(--font-color);
        text-transform: uppercase;
        display: block;
    }
}

.header__nav {
    margin-left: 60px;
    z-index: 5;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.header__ul__item {
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    margin-right: 8px;
    text-decoration: none;
    color: var(--font-color);
}

.header__ul__item__avatar {
    padding: 2px;
    height: 48px;
    margin: 0 auto;
    display: block;
}

/* Dropdown */

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: var(--bg-dropdown-color);
    border-radius: .7rem;
    min-width: 220px;
    max-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    right: -4px;
    z-index: 10000;
    top: 55px;

    align-items: start;
    text-align: left;

    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", "Noto", sans-serif;

    a {
        text-decoration: none;
        padding: 3px 8px 0 0;
    }

    a:hover {
        color: var(--alpha-middle)
    }
}

.dropdown__content__section {
    padding: 6px 32px 6px 16px;
    margin: 2px 0;
}

.dropdown__content>*,
.dropdown__content__section>* {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown__content:before {
    right: 18px;
    top: -12px;
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--bg-dropdown-color);

    z-index: 10001;
}

.contact_address {
    color: var(--font-color);
    font-size: 18px;
}

.contact_address:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

/* Loaders */

/* .loader {
    width: 2rem;
    height: 2rem;
    border: 4px solid black;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    margin: auto;
    display: none;
    animation: spinning 1s infinite linear;
} */

/* 
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
} */


.loader {
    width: 5rem;
    height: 3rem;
    box-shadow: 0 3px 0 #505050;
    position: relative;
    clip-path: inset(-40px 0 -5px);
    display: none;
    margin: auto;
}

.loader:before {
    content: "";
    position: absolute;
    inset: auto calc(50% - 17px) 0;
    height: 50px;
    --g: no-repeat linear-gradient(#ccc 0 0);
    background: var(--g), var(--g), var(--g), var(--g);
    background-size: 16px 14px;
    animation:
        l7-1 2s infinite linear,
        l7-2 2s infinite linear;
}

.loader.show {
    display: block;
}

@keyframes l7-1 {

    0%,
    100% {
        background-position: 0 -50px, 100% -50px
    }

    17.5% {
        background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px
    }

    35% {
        background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px
    }

    52.5% {
        background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px
    }

    70%,
    98% {
        background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% calc(100% - 16px)
    }
}

@keyframes l7-2 {

    0%,
    70% {
        transform: translate(0)
    }

    100% {
        transform: translate(200%)
    }
}

/* Tables */

.compact_table {
    border: none;
    border-radius: 0.7rem;
    border-collapse: collapse;
    margin: 18px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.compact_table th {
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
    text-align: left;
}

.compact_table th,
.compact_table td {
    padding: 12px 15px;
    border: none;
}

.compact_table tr td {
    border-bottom: thin solid var(--table-body-bottom-border-color);
    color: var(--table-body-color);
}

.compact_table tr td:nth-of-type(even) {
    background-color: var(--bg-secondary-color);
}

.compact_table tr:last-of-type {
    border-bottom: 2px solid var(--table-body-bottom-border-color);
}

.compact_table tr:hover td {
    background-color: var(--table-body-hover-color);
}

.compact_table tr td .custom_button {
    border: thin solid var(--alpha);
}

/* File row in table */
tr.fileRow {
    cursor: pointer;

    td {
        text-decoration: underline;
        color: var(--a-color);
        text-align: center;
    }
}

tr.participantRow {
    cursor: pointer;
}

.blue_pulse, .blue_pulse > td {
    --pulse-color: #809dda;
    animation: pulse_action 2s linear;
}

.green_pulse {
    --pulse-color: #88E788;
    animation: pulse_action 1s linear;
}

@keyframes pulse_action {

    0% {
        background-color: var(--pulse-color);
    }

    100% {
        background: transparent;
    }
}

/* */

.nav_menu {
    display: flex;
    flex-direction: row;
}

.i-icon-qr::before {
    display: block;
    content: url('/icons/qr-light.svg');
}